
// css变量用中划线，文件样式class下划线，复制方便
/**
* @des 颜色命名变量，方便记忆
*
*/
@dark-brown: #d47120; //主要按钮背景，边框和字体颜色
@light-brown: #e79d61;

@dark-blue: #3a66dc;   //主要字体
@light-blue: #5a78ca;

@big-title: #000; //大标题灰色

//灰色字体
@text-minor:#999;  // 次要灰色字体
@text-primary:#666; // 主要灰色字体
@text-tip: #b6b6b6;

//边框
@light-border-btn: #e6e6e6;     //浅色边框按钮
@dark-border-btn: @dark-brown;  //深色边框按钮

// 按钮
@btn-bg: @dark-blue;    //大的提交等按钮背景色;
