//主色调
//系统默认字体#333，在base.less中修改
@mainC: #da9257; //主要字体  （棕黄色）
@subC: #3a66dc; //主要按钮背景，边框和字体颜色  （蓝色）
@bigTitleColor: #111; //大标题灰色

//灰色字体
@lightGray:#999; //#999灰
@darktGray:#666; //#666偏深灰

//边框
@paddBorder: 30; //距离左右的距离；
@btnLightBorder: #e6e6e6; //按钮的浅色边框
@btnMainBorder: @subC;

// 按钮
@btnBg: @mainC;//大提交等按钮背景色;

