@import "./class";

//flex布局 和 子元素对其方式，默认两边对齐
.fj(@type: space-between){
    display: flex;
    justify-content: @type;
}
//宽高
.wh(@width, @hight){
    width: @width;
    height: @hight;
}
//size and  font
.sc(@size, @color){
    font-size: @size;
    color: @color;
}
//大标题
.big_title{
    text-align: left;
    padding: 30/@rem 0 30/@rem 30/@rem;
    .sc(36/@rem,@big-title);
    background: #fff;
    margin-bottom: 20/@rem;
}

//字符截取：多行
.moreText(@num:2){
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @num;
    overflow: hidden;
}

//小图标圆角设定；
.radius(@radius: 30){
    border-radius: @radius/@rem;
    -webkit-border-radius: @radius/@rem;
}

//1px
.setBase(){
    content: '';
    position: absolute;
}
.setTopLine(@c: #e5e5e5){
    .setBase();
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid @c;//宽度，样式，颜色
    color: @c;
    transform-origin: 0 0;
    transform: scaleY(0.5);
}
.setBottomLine(@c: #e5e5e5){
    .setBase();
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid @c;//宽度，样式，颜色
    color: @c;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
}
.setLeftLine(@c: #e5e5e5){
    .setBase();
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    border-left: 1px solid @c;//宽度，样式，颜色
    color: @c;
    transform-origin: 0 0;
    transform: scaleX(0.5);
}
.setRightLine(@c: #e5e5e5){
    .setBase();
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    border-right: 1px solid @c;//宽度，样式，颜色
    color: @c;
    transform-origin: 100% 0;
    transform: scaleX(0.5);
}
